extends layout

block content
  if(error)
    p !{error.replace(/\n/g, "<br>")}

  br

  form(name="create", method="post", action="/listings/create" enctype="multipart/form-data")
    input(required, type="hidden", name="_csrf", value=csrfToken)
    if(designer)
      input(required, placeholder="Designer", name="designer", value="#{designer}")
    else
      input(required, placeholder="Designer", name="designer")
    
    br

    if(listTitle)
      input(required, placeholder="Title", name="title", value="#{listTitle}")
    else
      input(required, placeholder="Title", name="title")
    
    br

    input(required, type="hidden", id="correct_category", value="#{category}")
    select(required, name="category", id="category")
      option(selected) Category
      option(value="outerwear") Outerwear
      option(value="tops") Tops
      option(value="bottoms") Bottoms
      option(value="footwear") Footwear
      option(value="accessories") Accessories

    br

    input(required, type="hidden", id="correct_size", value="#{size}")
    select(name="size", id="size")
      option(selected) Size
    input(required, name="conversion", id="conversion", type="hidden")

    br

    if(price)
      input(required, placeholder="Price", name="price", value="#{price}")
    else
      input(required, placeholder="Price", name="price")
    
    br

    if(description)
      textarea(required, placeholder="Description", name="description") #{description}
    else
      textarea(required, placeholder="Description", name="description")
    
    br

    input(required, type="file", name="photos" multiple)
    br
    //- input(required, type="hidden", name="_csrf", value=csrfToken)
    button(type="submit") Submit

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="/javascript/sizes.js")
  script.
    $(document).ready(function() {
      var category = $('#correct_category').val();
      var size = $('#correct_size').val();
      if(category != "undefined") {
        $('#category').val(category).trigger('change');
      }
      if(size != "undefined") {
        $('#size').val(size).trigger('change');
      }
    });
