extends layout

block content

  form(name="create", method="post", action="/listings/#{listing._id}/edit")
    input(value="#{listing.designer}", name="designer")
    br
    input(value="#{listing.title}", name="title")
    br
    //- Right category and size should be selected automatically
    select(name="category", id="category")
      option(disabled) Category
      option(value="outerwear") Outerwear
      option(value="tops") Tops
      option(value="bottoms") Bottoms
      option(value="footwear") Footwear
      option(value="accessories") Accessories
    br
    //- Talk to me about this before remaking this page (really hacky solution)
    select(name="size", id="size" onchange="document.getElementById('conversion').value=this.options[this.selectedIndex].text")
      option(selected disabled) Size
    input(type="hidden", name="conversion", id="conversion", value="")
    br
    input(value="#{listing.price}", name="price")
    br
    textarea(name="description") #{listing.description}
    br
    button(type="submit") Submit
  br
  if(bump.flag)
    form(name="drop", method="post", action="/listings/#{listing._id}/bump")
      button(type="submit", name="bump") Bump
  if(!bump.flag)
    p #{bump.hours} hours and #{bump.mins} minutes until next bump
  form(name="delete", method="post", action="/listings/#{listing._id}/delete")
    button(type="submit", name="delete") Delete listing

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="/javascript/sizes.js")
