extends layout

block content
  
  form(name="create", method="post", action="/listings/#{listing._id}/edit")
    input(value="#{listing.designer}", name="designer")
    br
    input(value="#{listing.title}", name="title")
    br
    //- This should be dynamic
    select(name="category")
      option(selected disabled) Category
      option(value="outerwear") Outerwear
      option(value="tops") Tops
      option(value="bottoms") Bottoms
      option(value="footwear") Footwear
      option(value="accessories") Accessories
    br
    //- select(name="size")
    //- br
    input(value="#{listing.price}", name="price")
    br
    textarea(name="description") #{listing.description}
    br
    button#btnSubmit(type="submit") Submit
  br
  if(bump.flag)
    form(name="drop", method="post", action="/listings/#{listing._id}/bump")
      button(type="submit", name="bump") Bump
  if(!bump.flag)
    p #{bump.hours} hours and #{bump.mins} minutes until next bump
  form(name="delete", method="post", action="/listings/#{listing._id}/delete")
    button(type="submit", name="delete") Delete listing