//- Talk to me before rewriting this page, there's some hacky shit going on

extends layout

block content

  form(name="edit", method="post", action="/listings/#{listing._id}/edit?_csrf=#{csrfToken}")
    input(type="hidden" name="_method" value="PUT")
    input(value="#{listing.designer}", name="designer")
    br
    input(value="#{listing.title}", name="title")
    br
    
    input(type="hidden", id="correct_category", value="#{listing.category}")
    select(name="category", id="category")
      option(disabled value="category") Category
      option#outerwear(value="outerwear") Outerwear
      option#tops(value="tops") Tops
      option#bottoms(value="bottoms") Bottoms
      option#footwear(value="footwear") Footwear
      option#accessories(value="accessories") Accessories
    br
    
    input(type="hidden", id="correct_size", value="#{listing.size}")
    select(name="size", id="size")
      option(selected disabled) Size
    input(type="hidden", name="conversion", id="conversion", value="")
    br
    input(value="#{listing.price}", name="price")
    br
    textarea(name="description") #{listing.description}
    br
    button(type="submit") Submit
  br
  if(bump.flag)
    form(name="drop", method="post", action="/listings/#{listing._id}/bump")
      button(type="submit", name="bump") Bump
  if(!bump.flag)
    p #{bump.hours} hours and #{bump.mins} minutes until next bump
  //- csrf also added to delete
  form(name="delete", method="post", action="/listings/#{listing._id}/delete?_csrf=#{csrfToken}")
    input(type="hidden" name="_method" value="DELETE")
    button(type="submit", name="delete") Delete listing

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="/javascript/sizes.js")
  script.
    $(document).ready(function() {
      var category = $('#correct_category').val();
      var size = $('#correct_size').val();
      $('#category').val(category).trigger('change');
      $('#size').val(size);
    });
