extends layouta5000=

block content
  if(error)
    p !{error.replace(/\n/g, "<br>")}

  br

  form(name="edit", method="post", action="/listings/#{id}/edit")
    input(required, type="hidden", name="_csrf", value=csrfToken)

    input(required, type="hidden" name="_method" value="PUT")

    input(required, value="#{designer}", name="designer")

    br

    input(required, value="#{listTitle}", name="title")

    br
    
    input(required, type="hidden", id="correct_category", value="#{category}")
    select(required, name="category", id="category")
      option(selected) Category
      option(value="outerwear") Outerwear
      option(value="tops") Tops
      option(value="bottoms") Bottoms
      option(value="footwear") Footwear
      option(value="accessories") Accessories

    br
    
    input(required, type="hidden", id="correct_size", value="#{size}")
    select(required, name="size", id="size")
      option(selected) Size

    input(required, type="hidden", name="conversion", id="conversion", value="")

    br

    input(required, value="#{price}", name="price")

    br

    textarea(required, name="description") #{description}

    br

    button(type="submit") Submit

  br

  form(name="delete", method="post", action="/listings/#{id}/delete?_csrf=#{csrfToken}")
    input(required, type="hidden" name="_method" value="DELETE")
    button(type="submit", name="delete") Delete listing

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="/javascript/sizes.js")
  script.
    $(document).ready(function() {
      var category = $('#correct_category').val();
      var size = $('#correct_size').val();
      $('#category').val(category).trigger('change');
      $('#size').val(size).trigger('change');
    });
