extends layout

block content
  if (!user)
    a(href="/login") Login
    br
    a(href="/users/register") Register
  if (user)
    p You are currently logged in as 
      a(href="/users/#{user.username}") #{user.username}
    a(href="/listings/create") Create listing
    br
    a(href="/logout") Logout
  ul
    each listing, i in listings
      li
        a(href="/listings/#{listing._id}") #{listing.designer} #{listing.title}
