extends layout

block content
  if (!user)
    a(href="/login") Login
    br
    a(href="/users/register") Register
  if (user)
    p You are currently logged in as 
      a(href="/users/#{user.username}") #{user.username}
    a(href="/listings/create") Create listing
    br
    a(href="/logout") Logout
  //- making this list into a table in the future, just to lazy
  ul
    if (listings.length === 0)
      h1 There are no results,  click here to return to 
        a(href="/") home    
    each listing, i in listings
      li
        a(href="/listings/#{listing._id}") Designer: #{listing.designer} - Title:  #{listing.title} - Size: #{listing.size} - Category: #{listing.category}
        
  br
  br
  //- search bar to be moved in the future  
  form(method="get" action="/")
    br
    input(type="text" placeholder="designer ", name="designerSearch")    
    br
    select(name="category", id="category")
      option(selected disabled) Category
      option(value="outerwear") Outerwear
      option(value="tops") Tops
      option(value="bottoms") Bottoms
      option(value="footwear") Footwear
      option(value="accessories") Accessories
    br
    //- Talk to me about this before remaking this page (really hacky solution)
    select(name="size", id="size")
      option(selected disabled) Size
    br  
    input(name="conversion", id="conversion", type="hidden")
    input(type="text" placeholder="title", name="titleSearch")  
    br    
    button(type="submit") Submit
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="/javascript/sizes.js")  
    
