extends layout

block content
  h1 #{listing.designer}
  h2 #{listing.title}
  //- Show size conversions
  p #{listing.category} (#{listing.size})
  p $#{listing.price}
  p #{listing.description}
  br

  if(own)
    a(href="/listings/#{listing._id}/edit") Edit listing
  if(!own)
    a(href="/users/#{listing.seller}") #{listing.seller}
  //- add buying and messaging options

