extends layout

block content
  h1.
    #{listing.designer}
  p.
    #{listing.title}
  br
  p
    a(href="/users/#{listing.seller}") #{listing.seller}
  if(own)
    a(href="/listings/#{listing._id}/edit") Edit listing
    br
    a(href="/listings/#{listing._id}/delete") Delete listing
