extends layout

block content
  h1 #{listing.designer}
  h2 #{listing.title}
  p #{listing.category} (#{listing.size})
  p $#{listing.price}
  p #{listing.description}
  br
  p sold by 
    a(href="/users/#{listing.seller}") #{listing.seller}
  if(own)
    br
    a(href="/listings/#{listing._id}/edit") Edit listing
  //- else
  //- add buying and messaging options

