extends layout

block content
  each photo, i in listing.photos
    img(src="/images/#{photo}")
  h1 #{listing.designer}
  h2 #{listing.title}
  p #{listing.category} 
  p #{listing.conversion}
  p $#{listing.price}
  p #{listing.description}
  br

  if(own)
    a(href="/listings/#{listing._id}/edit") Edit listing
    
    if(bump.flag)
      form(name="bump", method="post", action="/listings/#{listing._id}/bump")
        button(type="submit", name="bump") Bump
    else
      p #{bump.hours} hours and #{bump.mins} minutes until next bump
  else
    a(href="/users/#{listing.seller}") #{listing.seller}

    if(loggedIn)
      br
      a#message(href="#") Message Seller
      div#messageBox(style="display:none")
        form(name="message", method="post", action="/listings/#{listing._id}/message")
          textarea(name="message")
          br
          button(type="submit", name="message") Send Message

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script.
    $(document).ready(function() {
      $('#message').click(function(event) {
        event.preventDefault();
        $('#messageBox').css('display', 'inline');
      });
    });